

<div class="small-container cart-page">
    
        <table>
            <tbody>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total Price</th>
                    <th>Status</th>

                </tr>
                <tr>

                       <td>sdfgh</td>      
                       <td>date</td>
                       <td>345</td>
                       <td>confirmed</td>   
                        
                </tr>
            </tbody>
        </table>
        
   
</div>
