{% load static %}


<div class="small-container single-product">

    <div class="row">
        <div class="col-2">
             <img src="{{ product.image.url }}" id="ProductImg" width="100%">

            
        </div>

    </div>
    <div class="col-2">
        <p>{{ product.title }}</p>
        <h1>{{ product.title }}</h1>
        <h4>${{ product.price }}</h4>
        <form method="post" action="{% url 'add_to_cart' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ product.id }}" name="product_id"/>
            <input type="number" name="quantity" value="1" min="1" required>
            
            <select name="size" required>
                <option value="">Select Size</option>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="4">XL</option>
                <option value="5">XXL</option>
            </select>
            
            <button type="submit" class="btn">Add To Cart</button>
        </form>
        
        <h3>Product Details <i class="fa fa-indent"></i></h3>
        <br>
        <p>{{ product.description }}</p>
    </div>
</div>

</div>